Source: mx-cli-installer
Section: system
Priority: optional
Maintainer: anticapitalista <antiX@operamail.com>
Build-Depends: debhelper (>= 9.20120115)
Standards-Version: 3.9.4
Homepage: http://antix.mepis.org

Package: mx-cli-installer
Architecture: all 
Depends: bash, rsync, squashfs-tools, genisoimage  
Conflicts: cli-installer-mx 
Replaces: cli-installer-mx 
Description: Script to install MX-15 to hard drive.
